@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }

  .section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a,li{
    color: #fff;
    background: rgba(255,255,255,.2);
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
  }
  a:hover,li:hover{
    background: rgba(255, 255, 255, 0.5);
    
  }
  
  @keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

  .loader{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    background: #00000082;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader div {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
